html,body {
    background-color: #f5f5dc; /* very light wood color */
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.container {
    flex: 1;
}

/*footer{*/
/*    background-color: #f5f5dc !important ;*/
/*}*/